<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="reg_username" ng-model="ctrl.user.username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" ng-model="ctrl.user.password" placeholder="password">
					</div>
					<!-- <div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="reg_password_confirm" ng-model="ctrl.user.userConfirmPassword" name="reg_password_confirm" placeholder="confirm password">
					</div>
					
					<div class="form-group">
						<label for="reg_security_question" class="sr-only">Security Question</label>
						<input type="text" class="form-control" id="reg_security_question"  ng-model="ctrl.user.userSecurityQuestion" name="reg_security_question" placeholder="sec question (i.e. middle name?)">
					</div>
					
					<div class="form-group">
						<label for="reg_security_answer" class="sr-only">Security Answer</label>
						<input type="text" class="form-control" id="reg_security_answer" ng-model="ctrl.user.userSecurityAnswer" name="reg_security_answer" placeholder="security answer">
					</div>
					
					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" ng-model="ctrl.user.userEmail" name="reg_email" placeholder="email">
					</div>-->
					<div class="form-group">
						<label for="reg_fullname" class="sr-only">Full Name</label>
						<input type="text" class="form-control" id="reg_fullname" ng-model="ctrl.user.name" name="reg_fullname" placeholder="full name">
					</div>
					
					<!--<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_gender" id="male" ng-model="ctrl.user.userMale" placeholder="username">
						<label for="male">male</label>
						
						<input type="radio" class="" name="reg_gender" id="female" ng-model="ctrl.user.userFemale" placeholder="username">
						<label for="female">female</label>
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">i agree with <a href="#">terms</a></label>
					</div>-->
				</div> 
				<button type="submit" class="login-button" ng-click="ctrl.registerUser(ctrl.user)">Save
					<i class="fa fa-chevron-right"></i>
				</button><br>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a href="#/logins">login here</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>