<div map-lazy-load="https://maps.google.com/maps/api/js">
	<ng-map center="{{$mapCtrl.center}}" zoom="{{$mapCtrl.zoom}}">
	  <marker
	    ng-repeat="$mapMarker in $mapCtrl.markers"
	    position="{{$mapMarker.position}}">
	  </marker>
	  <shape
	    ng-repeat="$mapPath in $mapCtrl.paths"
	    name="polyline"
	    path="{{$mapPath.path}}"
	    stroke-color="{{$mapPath.strokeColor}}"
	    stroke-opacity="{{$mapPath.strokeOpacity}}"
	    stroke-weight="{{$mapPath.strokeWeight}}"
	    geodesic="{{$mapPath.geodesic}}">
	  </shape>
	</ng-map>
	<div ng-if="$mapCtrl.itinerary !== null" class="md-list-item-text" layout="column">
		<div class="md-list-item-text" layout="column">
			Layover Time: {{$mapCtrl.itinerary.layOver}}
			/ Total Trip Time: {{$mapCtrl.itinerary.totalTripTime}}
			 <div class="table-responsive">
					 <table class="table table-bordered">
							 <thead>
							 <tr class="success">
									 <th>Origin</th>
									 <th>Destination</th>
									 <th>Flight Duration</th>
									 <th>Departure Time</th>
									 <th>Arrival Time</th>
							 </tr>
							 </thead>
							 <tbody>
				 <tr ng-repeat="flight in $mapCtrl.itinerary.savedFlight" class="info" >
					 <td>{{flight.origin}}</td>
					 <td>{{flight.destination}}</td>
					 <td>{{flight.flightTime}}</td>
					 <td>{{flight.departureTime}}</td>
					 <td>{{flight.arrivalTime}}</td>
				 </tr>
			 </tbody>
			</table>
				</div>
					</div>
								 </div>
</div>
