<h1>An app will go here, eventually.</h1>
<flight-map></flight-map>
<div>
<md-toolbar layout="row">
  <div layout="row" layout-align="space-around center" flex>
    <div>
      <a ui-sref="home">
      <md-button class="md-raised">Search Flights!</md-button>
      </a>
    </div>

    <div>
      <a ui-sref="LogIn">
        <md-button class="md-raised md-primary">Login</md-button>
       </a>
     </div>

    <div>
      <a ui-sref="register">
        <md-button class="md-raised md-primary">Register</md-button>
       </a>
     </div>
  </div>
</md-toolbar>
</div>
